@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

	body {
		margin: 0;
		height: 300vh;
		font-family: sans-serif;
		text-decoration: none;
		background-color: black;
	}

	header {
		background-color: white;
		height: 50px;
		width: 100vw;
		display: flex;
		flex-direction: row;
		position: fixed;
	}

	header h1 {
		text-align: center;
		margin: auto;
		font-family: Comic Sans MS;
		font-size: 30px;
	}

	nav {
		background-color: white;
		height: 75px;
		width: 100vw;
		display: flex;
		flex-direction: column;
		box-shadow: 0px 1px 10px white;
		position: fixed;
		margin-top: 50px;
		
	}

	nav h2 {
		text-align: center;
		margin: auto;
		color: gray;
		font-size: 15px;
		font-weight: normal;
	}

	#content {
		height: 100vh;
		z-index: -1;
	}



	.sprite { background: url('sprite.png') no-repeat top left; width: 375px; height: 250px;  } 
	.sprite.moonmoon { background-position: 0px 0px;  } 
	.sprite.bar { background-position: 0px -255px;  } 
	.sprite.food { background-position: 0px -510px;  } 
	.sprite.moon { background-position: 0px -765px;  } 




}
